@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica';
  font-size: 1.2em;
  //overflow: hidden;
}

.title {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color:  #fff;
  width: 100dvw;
}

.column-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100dvw;
  height: 100dvh;
}


.image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  rotate: -20deg;
  transform-origin: left top;
  width: auto;
  word-break: keep-all;
  white-space: nowrap;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 0 0.5em;
  z-index: 9999;
}

.image-column {
  img {
    height: 100dvh;
    max-height: 100%;
    transition: filter 0.3s ease;
  }
  filter: grayscale(100%) contrast(50) brightness(0.8);
  cursor: pointer;
  @media (hover: hover) {
    img:hover {
      filter: grayscale(0%) contrast(0.8) brightness(0.8);
    }
  }

  img:active {
    filter: grayscale(0%) contrast(2) brightness(0.8);
  }
  z-index: 0;

}

.selected {
  filter: grayscale(0%) contrast(2) brightness(0.8);
}

.content-body {
  width: 0;
  transition: width 0.2s linear, opacity 0.2s ease;
  align-self: flex-start;
  opacity: 0;

}

.expanded-content {
  width: 5000px;
  opacity: 1;
  height: 100dvh;
  overflow-y: auto;
}