@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Monaco', monospace;
  font-size: 0.8em;
}

.faller {
  animation: fall 500s linear; 
  animation-iteration-count: 1;
}

@keyframes fall {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 5000%);
  }
}


.moving-elt {

  transition: top 10s ease-in-out;
}

@keyframes rotate {
  10% {
    transform: translate(50%, 0%);
  }
  20% {
    transform: translate(100%, 0%);
  }
  30% {
    transform: translate(100%, 50%);
  }
  40% {
    transform: translate(100%, 100%);
  }
  50% {
    transform: translate(50%, 100%);
  }
  60% {
    transform: translate(0%, 100%);
  }
  70% {
    transform: translate(0%, 50%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.rotator {
  width: 500px;
  animation: rotate 10s linear infinite; 
}

.rotator-rev {
  width: 500px;
  animation: rotate 10s linear infinite; 
  animation-direction: reverse;
}

.tall-img {
  transform: scale(0.5, 2);
  
}

.wide-img {
  transform: scale(2, 0.5);
  
}

.sideways {
  transform: rotate(45deg);
}

@keyframes hover-around {
  0% {
    top: 0;
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}

.elt-container {
  transition: filter 0.5s ease-in-out;
}

